@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Indie+Flower&family=Itim&family=Patrick+Hand&display=swap');

html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #FCFCB4 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'Itim';
}

h1 {
  color: black;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #FCFCB4;
  text-align: center;
}


.item {
  min-height: 70px;
  background-color: #FCFCB4;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: red;
  font-weight: 900;
}

input[type="checkbox"] {
  margin: 20px;
}

#checkbox{
  color:red
}
p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  padding-left: 20px;
}
.new-items{
  text-decoration: underline;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: green;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  font-family: inherit;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 green;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}